@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border;
  }
  body {
    font-family: "Cabin";
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold uppercase;
  }
  h1 {
    @apply text-5xl md:text-[80px] leading-none;
  }

  h2 {
    @apply text-[40px];
  }

  h2 {
    @apply text-[40px];
  }

  h3 {
    @apply text-[40px];
  }

  h4 {
    @apply text-[40px];
  }

  a {
    @apply font-bold uppercase leading-none hover:text-accent transition-all duration-200;
  }
  .btn {
    @apply flex justify-center items-center h-[50px] px-8 text-white font-semibold uppercase;
  }
  .btn-icon {
    @apply flex justify-center items-center w-[50px] h-[50px] text-2xl text-white;
  }
  .btn-accent {
    @apply bg-accent hover:bg-accent-hover transition-all duration-500 rounded-sm;
  }
  .btn-primary {
    @apply bg-primary hover:bg-primary-hover transition-all;
  }

  .btn-white {
    @apply bg-white hover:bg-white/90 text-primary transition-all;
  }

  .popular-bike-slider .swiper-wrapper {
    @apply !h-[500px];
  }

  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets
    .swiper-pagination-bullet {
    @apply !bg-accent;
  }

  .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
    @apply !bg-accent;
  }
}

.text-transition {
  display: block;
  font-family: sans-serif;
  background: linear-gradient(
      to right,
      rgba(115, 95, 115, 0) 0%,
      rgba(225, 255, 255, 0.5) 20%,
      rgba(144, 81, 81, 0) 61%
    ),
    linear-gradient(
      rgb(243, 73, 16) 52%,
      rgb(72, 89, 95) 60%,
      rgb(70, 78, 92) 61%
    );
  background-clip: text;
  -webkit-background-clip: text;

  -webkit-text-fill-color: transparent;
  animation: wave 2000ms ease alternate infinite;
  transition: all 0.4s ease;
}
@keyframes wave {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 10vw 60px;
  }
}
